{% extends "main/base.html" %}
{% load static %}
{% block customcss %}
    <link rel="stylesheet" type="text/css" href="{% static 'custom_css/toolslist.css' %}">
{% endblock customcss%}
{% block content %}
{% load i18n %}

    <div id="containermap">xxxxxx</div>
{% endblock content %}
{% block javascript %}
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/networkgraph.js"></script>
<script>
Highcharts.addEvent(
    Highcharts.Series,
    'afterSetOptions',
    function (e) {
        var colors = Highcharts.getOptions().colors,
            i = 0,
            nodes = {};
        if (
            this instanceof Highcharts.seriesTypes.networkgraph &&
            e.options.id === 'language-tree'
        ) {
            e.options.data.forEach(function (link) {

                if (link[0] === '10.150.129.60') {
                    nodes['10.150.129.60'] = {
                        id: '10.150.129.60',
                        marker: {
                            radius: 38
                        }
                    };
                    nodes[link[1]] = {
                        id: link[1],
                        marker: {
                            radius: 28
                        },
                        color: colors[i++]
                    };
                } else if (nodes[link[0]] && nodes[link[0]].color) {
                    nodes[link[1]] = {
                        id: link[1],
                        color: nodes[link[0]].color
                    };
                }
            });

            e.options.nodes = Object.keys(nodes).map(function (id) {
                return nodes[id];
            });
        }
    }
);

Highcharts.chart('containermap', {
    chart: {
        type: 'networkgraph',
        marginTop: 80
    },
    credits: {
        enabled: false
    },
    title: {
        text: 'เชื่อมโยงเครือข่ายเครื่องมือของ O&C'
    },
    subtitle: {
        text: 'แสดงภาพโยงใยเครื่องมือต่างๆของ O&C ของกลุ่มงานต่างๆพัฒนาขึ้นมา'
    },
    plotOptions: {
        networkgraph: {
            keys: ['from', 'to'],
            layoutAlgorithm: {
                enableSimulation: true,
                integration: 'verlet',
                linkLength: 100
            }
        }
    },
    series: [{
        id: 'language-tree',
        marker: {
            radius: 13
        },
        dataLabels: {
            enabled: true,
            textPath: {
                enabled: true
            },
            linkFormat: '',
            allowOverlap: true
        },
        data: 
        [
        {% for m in map %}
            ['{{ m.from }}','{{ m.to }}'],        
        {% endfor %}
        ]
    }]
});
</script>
{% endblock javascript %}